#gradient{
    /* Created with https://www.css-gradient.com */
    height: 75%;
background: rgb(246, 249, 251);
background: -webkit-linear-gradient(top, rgb(221, 241, 255), rgb(215, 251, 243));
background: -moz-linear-gradient(top, rgba(221, 241, 255), rgba(215, 251, 243));
background: linear-gradient(to bottom, rgba(221, 241, 255), rgba(215, 251, 243));
}
input[type="email"]{
    border: 1px solid white;
    /* border-radius: 20px; */
    padding: 20px;
    /* outline: none; */
    color:white;
    background: none;
}
input[type="email"]:focus{
    outline: none;
}
#footer{
    background-image: url('https://tse2.mm.bing.net/th?id=OIP.ZkGGGv75q-DxZi-qR1gwygHaD4&pid=Api&P=0&w=321&h=168');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
input[type="email"]::placeholder{
    color:white;
    /* opacity: 0; */
}